.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 50;
}

.header {
  width: 100%;
  text-align: right;
  padding-right: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  column-gap: 3em;
  background-color: #eaeaea;
  border-bottom: 4px solid black;
  z-index: 80;
}

.backgroundImage {
  width: 100%;
  height: 60vh;
  position: absolute;
  opacity: 60%;
  z-index: 0;
  object-fit: cover;
  filter: blur(4px);
}

.footer {
  color: white;
  padding: 1em;
}

.horizontalContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;
  background-color: white;
  column-gap: 3em;
  border-bottom: 4px solid black;
  opacity: 100%;
  z-index: 70;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3em;
  z-index: 100;
  opacity: 100%;
  position: relative;
}

.container {
  width: 100%;
  padding: 3em;
  opacity: 100%;
  font-size: 2em;
  color: white;
  display: flex;
  z-index: 70;
  background-color: black ;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1em;
  align-items: baseline;
  justify-content: center;
  overflow: hidden;
  white-space: pre-wrap;
  text-align: center;
}

.container > h1 > a {
  color: rgb(255, 235, 51);
  text-decoration: underline;
  font-style: italic;
}

.joinContainer {
  width: 100%;
  height: auto;
  background-color: #1d72d3;
  padding: 3em;
  padding-right: 9em;
  padding-bottom: 3em;
}

.alignEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  column-gap: 3em;
  width: 100%;
}

.alignBetween {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 2em;
}

.alignBetween > p {
  width: 50%;
}

.text {
  opacity: 100%;
  z-index: 90;
  position: relative;
  color: white;
}

.button {
  width: 30vw;
  background-color: #0070f3;
  text-align: center;
  border: 2px solid #091129;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .button {
    width: 50vw;
  };
  .alignBetween {
    justify-content: center;
    align-items: center;
  }
  .alignBetween > p {
    width: 100%;
  }
  .alignEnd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;  
    column-gap: 1em;
  }
  .joinContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em;
    padding-bottom: 3em;
  }
  .container {
    font-size: 1em;
  }
}

.button:hover {
  box-shadow: 0px 2px 2px 0px #091129;
  transition: ease 300ms;
}
